:host {
  display: block;
  width: 100%;
}

.chat-row {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .chat-recipient {
    display: flex;
    width: 60%;
  }
}
