/* You can add global styles to this file, and also import other style files */

/* Meterial theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --primary: #2c6157;
  --secondary: #6fd056;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-primary {
  background-color: var(--primary) !important;
  color: white;
}

.mat-secondary {
  background-color: var(--secondary) !important;
  color: white;
}

.mat-primary-negative {
  background-color: white !important;
  color: var(--primary);
}

.mat-secondary-negative {
  background-color: white !important;
  color: var(--secondary);
}

.mat-default {
  background-color: transparent !important;
  color: black;
}

.mat-toolbar {
  color: white;
  background-color: var(--primary) !important;
}

.mat-focused .mat-form-field-label {
  color: var(--primary) !important;
}

.mat-form-field-ripple {
  background-color: var(--primary) !important;
}

.mat-input-element {
  caret-color: var(--primary) !important;
}